<%= content_tag :div, class: root_class_name do %>
  <%= icon_content %>
  <div class="section-title">
    <%= title_text %>
  </div>
  <div class="section-count">
    <%= count %>
  </div>
<% end %>
